* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

.world {
  line-height: 1;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}