
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Danfo&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* src/styles/variables.css */

:root {
  /* Paleta de colores */
  --primary-color-light: #FCF596; /* Color principal claro */
  --primary-color: #FBD288;       /* Color principal */
  --secondary-color-light: #FF9C73; /* Color secundario claro */
  --secondary-color: #FF4545;     /* Color secundario */
  
  /* Neutrales */
  --white: #ffffff;
  --black: #000000;

  /* Otros colores para elementos de texto o fondo */
  --text-color-dark: #333333;    /* Color de texto oscuro */
  --text-color-light: #f5f5f5;   /* Color de texto claro */
  --background-color: #ffffff;   /* Color de fondo predeterminado */
  --border-color: #e0e0e0;       /* Color de borde ligero */

  --font-title: 'Chewy', 'Danfo', sans-serif; /* Fuente principal para títulos */
  --font-body: 'Karla', sans-serif;   
}


html, body {
  height: 100%;
  font-family: sans-serif;
}

