/* Estilos de la sección Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  height: 100vh;
  position: relative; /* Importante para el posicionamiento del pseudo-elemento */
  z-index: 1; /* Asegura que el contenido esté por encima del fondo */
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('collageburger.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: sepia(80%) brightness(105%) contrast(90%); 
  opacity: 0.8; /* Ajustado para mejor visibilidad del efecto sepia */
  z-index: -1;
}

/* El resto del contenido permanecerá sin filtros */
.biteWayLogo-home,
.buttons-contact-home,
.link-left,
.link-right,
.link-bottom {
  position: relative;
  z-index: 2; /* Asegura que estos elementos estén por encima del fondo */
}

/* Logo */
.biteWayLogo-home {
  max-width: 15%;
  min-width: 10%;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Transición suave para otros efectos */
}

/* Animación de tambaleo */
.biteWayLogo-home:hover {
  animation: shake 0.5s; /* Aplica la animación en hover */
  animation-iteration-count: 1; /* Se ejecuta una vez cada vez que el cursor pasa */
}

/* Keyframes para el tambaleo */
@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

/* Estilos de los botones de contacto */
.buttons-contact-home {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 30px; 
}

/* Estilos del botón de contacto */
.button-contact {
  background-color: var(--secondary-color);
  font-family: var(--font-title);
  width: 400px;
  font-size: 30px;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Hover del botón de contacto con colores invertidos */
.button-contact:hover {
  background-color: var(--primary-color-light);
  color: var(--secondary-color-light);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Estilos de los enlaces sociales */
.social-links {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 20px 40px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}


.social-links li {
  font-size: 2rem;
}

.social-links a {
  color: var(--secondary-color);
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.social-links a:hover {
  color: var(--primary-color); /* Cambia el color al pasar el ratón */
}


/* Posicionamiento de los enlaces */
.link-left,
.link-right,
.link-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: fixed;
  color: var(--secondary-color);
  font-size: 20px;
  text-decoration: none;
  font-family: var(--font-title);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

/* Posiciona el enlace a la izquierda */
.link-left {
  top: 50%;
  left: 100px; /* Margen a la izquierda */
  transform: translateY(-50%);
}

/* Posiciona el enlace a la derecha */
.link-right {
  top: 50%;
  right: 100px; /* Margen a la derecha */
  transform: translateY(-50%);
}

/* Posiciona el enlace en la parte inferior */
.link-bottom {
  bottom: 50px; /* Margen inferior */
  left: 50%;
  transform: translateX(-50%);
}


.link-left,
.link-right,
.link-bottom {
  transition: all 0.3s ease;
}

.link-left:hover,
.link-right:hover,
.link-bottom:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 30px; /* Aumenta el padding para que crezcan */
}

.link-left:hover:before,
.link-right:hover:before,
.link-bottom:hover:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.link-left:hover:before {
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  border-width: 10px 20px 10px 0;
  border-color: transparent var(--secondary-color) transparent transparent;
}

.link-right:hover:before {
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--secondary-color);
}

.link-bottom:hover:before {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px 10px 0 10px;
  border-color: var(--secondary-color) transparent transparent transparent;
}

