/* src/styles/Menu.css */
.menu {
    padding: 50px 20px;
    text-align: center;
    background-color: #D3D3D3; /* Color neutro */
  }
  
  .menu h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .menu-filters {
    margin-bottom: 20px;
  }
  
  .menu-filters button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #276860; /* Color secundario */
    color: #FFF5E7; /* Color primario claro */
    border: none;
    border-radius: 5px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-list li {
    font-size: 20px;
    margin: 10px 0;
  }
  